<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Inicio {% endblock %}</title>
	{% load staticfiles %}
	{% block statics %}
	{% endblock %}
</head>
<body>

	<header>{# AQUI VIENE EL HEADER Y EL NAV DE USUARIO#}	
		<div class="icon-menu"></div>

		<nav>{# AQUI ESTA EL NAV DONDE ESTA LA INFORMACION DEL USUARIOS Y EL NAVEGADOR #}

			<div class="perfil">{# PERFIL INFORMACION DEL USUARIOS#}
				<img src="{{user_foto}}">
				<div class="nombre"> {{user.username}} </div>
				<ul>
					<li class="in"><a href="{% url 'jugadas' url_perfil=user.pk url_jugadas='all' %}">{{pts.0.acumulados}}<span>pts</span></a></li>
					<li class="in enju"><a href="{% url 'jugadas' url_perfil=user.pk url_jugadas='waiting' %}">{{pts.0.enJuego}}<br><span>en juego</span></a></li>
					<li class="in"><a href="{% url 'ranking' %}" class="b1">Ranking</a></li>
					<li class="in"><a href="{% url 'suscripcion' %}" class="b2">Suscribete VIP</a></li>
					<li class="in"><a href="#" class="b3">Recarga</a></li>
				</ul>
			</div>

			<div class="categoria">{# CATEGORIAS PARA LOS TIPOS DE JUEGOS #}
				<p id="pulsa">DEPORTES</p>
				<ul class="prueba2" id="prueba2">
					{% for  deportes in lista_deportes  %}
						<li>
							<a href="{% url 'deporte' url_deporte=deportes.id_deportes %}" class="a{{deportes.id_deportes}}">
								<img src="/media/{{deportes.foto_d}}">
								<span>{{deportes.deportes}}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
				<p>POTE</p>
				<p>QUINELAS</p>
				{% load staticfiles %}
				<script src="{% static 'js/ocultar_deporte.js' %}"></script>
			</div>
		</nav>

		<ul class="menu2">{# AQUI ESTA EL MENU DE LA BARRA SUPERIR IZQUIERDA ¡¡QUE TIENE QUE SER MODIFICADO!! #}
			<li><a href="{% url 'regalos' %}" title="Regalos"><span class="icon-gift"></span></a></li>
			<li><a href="{% url 'perfil' url_perfil=user.pk %}" title="Perfil"><span class="icon-user"></span></a></li>
			<li><a href="#" title="Salir"><span class="icon-switch"></span></a></li>
		</ul>
		<a href="#" class="punto_g"><span class="punto_g">Puntos gratis</span></a>
	</header>


	
	<div class="padre">{# AQUI VIENE EL DIV PADRE #}

		<section class="cont">{# AQUI VIENE EL SECTION DONDE VA EL CONTENIDO #}
			{% block section %}
			{% endblock %}	
		</section>

		<footer class="pie">{# AQUI VIENE EL FOOTER CON LA INFORMACION Y CONTACTO DE LA PAGINA WEB #}
			
			<p>PIE DE PAGINA</p>

		</footer>
	</div>
</body>
</html>