<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Titulo {% endblock %}</title>
	{% load staticfiles %}
	{% block statics %}
	{% endblock %}
</head>
<body>
	
	<div class="padre">{# AQUI VIENE EL DIV PADRE #}

		<section class="cont">{# AQUI VIENE EL SECTION DONDE VA EL CONTENIDO #}
			{% block section %}
			{% endblock %}
		</section>

		<footer class="pie">{# AQUI VIENE EL FOOTER CON LA INFORMACION Y CONTACTO DE LA PAGINA WEB #}
			
			<p>PIE DE PAGINA</p>

		</footer>
	</div>
</body>
</html>