<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Inicio {% endblock %}</title>
	{% load staticfiles %}
	{% block statics %}
	{% endblock %}
</head>
<body>

	<header>{# AQUI VIENE EL HEADER Y EL NAV DE USUARIO#}	
		<div class="icon-menu"></div>

		<nav>{# AQUI ESTA EL NAV DONDE ESTA LA INFORMACION DEL USUARIOS Y EL NAVEGADOR #}

			<div class="perfil">{# PERFIL INFORMACION DEL USUARIOS#}
				<img src="">
				<div class="nombre"> NOMBRE USUARIO</div>
				<ul>
					<li class="in"><a href="{% url 'jugadas' %}">PUNTOS ACUMULADOS<span>pts</span></a></li>
					<li class="in enju"><a href="{% url 'enjuego' %}">PUNTOS EN JUEGO <br><span>en juego</span></a></li>
					<li class="in"><a href="{% url 'ranking' %}" class="b1">Ranking</a></li>
					<li class="in"><a href="{% url 'suscripcion' %}" class="b2">Suscribete VIP</a></li>
					<li class="in"><a href="#" class="b3">Recarga</a></li>
				</ul>
			</div>

			<div class="categoria">{# CATEGORIAS PARA LOS TIPOS DE JUEGOS #}
				<p id="pulsa">DEPORTES</p>
				<ul class="prueba2" id="prueba2">
					<li>
						<a href="">
							<img src="#">
							<span>NOMBRE DEPORTE</span>
						</a>
					</li>	
				</ul>
				<p>POTE</p>
				<p>QUINELAS</p>
				{% load staticfiles %}
				<script src="{% static 'js/ocultar_deporte.js' %}"></script>
			</div>
		</nav>

		<ul class="menu2">{# AQUI ESTA EL MENU DE LA BARRA SUPERIR IZQUIERDA ¡¡QUE TIENE QUE SER MODIFICADO!! #}
			<li><a href="{% url 'regalos' %}" title="Regalos"><span class="icon-gift"></span></a></li>
			<li><a href="{% url 'perfil' %}" title="Perfil"><span class="icon-user"></span></a></li>
			<li><a href="#" title="Salir"><span class="icon-switch"></span></a></li>
		</ul>
		<a href="#" class="punto_g"><span class="punto_g">Puntos gratis</span></a>
	</header>


	
	<div class="padre">{# AQUI VIENE EL DIV PADRE #}

		<section class="cont">{# AQUI VIENE EL SECTION DONDE VA EL CONTENIDO #}
			<div class="categoria">
				<ul>
					<li><a href="{% url 'perfil' %}" class="act">PERFIL</a></li>
					<li><a href="{% url 'jugadas' %}">JUGADAS</a></li>
					<li><a href="{% url 'enjuego'%}>">EN JUEGO</a></li>
					<li><a href="#">PROMOCIONES</a></li>
					<li><a href="{% url 'referidos' %}">REFERIDOS</a></li>
					<li><a href="#">SOCIAL</a><li>
					<li><a href="#">REGALOS</a></li>
					<li><a href="#">RECARGAS</a></li>
				</ul>
			</div>
			<div class="perfil">
				{% block section %}
				{% endblock %}
			</div>
			
		</section>

		<footer class="pie">{# AQUI VIENE EL FOOTER CON LA INFORMACION Y CONTACTO DE LA PAGINA WEB #}
			
			<p>PIE DE PAGINA</p>

		</footer>
	</div>
</body>
</html>