{% extends 'base/_inicio.html' %}

{% load staticfiles %}
{% block statics %}
	<link rel="stylesheet" href="{% static 'css/deporte.css' %}">
	<link rel="stylesheet" href="{% static 'iconos/icomoon/style.css' %}">
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/inicio.js' %}"></script>
{% endblock statics %}

{% block section %}
	<div class="part">
		<div class="opt">
			<span class="deport">DEPORTE</span>
		</div>
		<div class="tabla">
			<img src="imagenes/bat.png" class="deporte">
			<div class="info">
				<p class="deport">HOME</p>
				<p class="deport vs">VS</p>
				<p class="deport">VISITANTE</p>
				<div class="inf">
					<time class="fecha">FECHA</time>
					<a href="#" class="liga">LIGA</a>
				</div>
				<div class="boton">
					<a href="partido.php?partido='.$link.'">
						<span>Jugar</span>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock section %}



{% block aside %}
	<div class="lig">
		<p>LIGA</p>
		<a class="lig" href="liga/nombre_de_liga'">
			<div class="liga">
				<span>NOMBRE DE LIGA</span>
			</div>
		</a>
	</div>
{% endblock aside %}