{% extends 'base/_perfil.html' %}

{% load staticfiles %}

{% block statics %}
	<link rel="stylesheet" href="{% static 'css/users/referidos.css' %}">
	<link rel="stylesheet" href="{% static 'iconos/icomoon/style.css' %}">
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/inicio.js' %}"></script>
{% endblock statics %}

{% block section %}
	
	<div class="cate">
		<span class="ref"><a href="{% url 'referido' url_referido='primario' %}">Referidos</a></span>
		<span class="ref"><a href="{% url 'referido' url_referido='secundario' %}">Sub referidos</a></span>
	</div>

	<div class="referido">
		<span class="icon-user-plus"></span>
		<p>Felicidades tienes un nuevo Referido: <span class="referido">NOMBRE DEL REFERIDO</span></p>
	</div>

	<div class="referido">
		<span class="icon-user-plus"></span>
		<p>Felicidades tienes un nuevo Sub-referido: <span class="referido">NOMBRE DEL REFERIDO</span></p>
	</div>

{% endblock section %}